<%- include("partials/head.ejs") %>
    <%- include("partials/header.ejs") %>
        <p>The secret word is: <%= secretWord %>
        </p>
        <p>Would you like to change it?</p>
        <form method="POST">
            <!-- added the csrf hidden value  -->
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
            <input name="secretWord" />
            <button>Submit</button>
        </form>
        <%- include("partials/footer.ejs") %>